/* basic contents */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: Vazir;
    src: url("../resources/fonts/Vazirmatn-Medium.ttf");
    font-weight: normal;
}
@font-face{
    font-family: Vazir;
    src: url("../resources/fonts/Vazirmatn-Bold.ttf");
    font-weight: bold;
}
.container {
    width: 68rem;
    /* height: 100%; */
    margin: 1.5rem auto;
    display: flex;
    /* flex-direction: row; */
    
}
body{
    font-family: Vazir;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}
/* ============================= main content =============================*/

.main-content{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    width: 68.75%;
    direction: rtl;
    background-color: #fff;
    z-index: -1;
}

.top-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-image: url("../resources/main_background1.jpg");
    z-index: -1;
}
.top-bar h1{
    font-weight: bold;
    
}
.main-content .item{
    display: flex;
}
.contents{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}
.contents .item{
    display: flex;
    margin: 10px;
    /* width: 100%; */
}
.contents .img-box{
    margin: 10px;
    padding: 2px;

}
.contents .img{
    width: 80px;
    border: 1px solid;
}
.contents .content{
    margin: 11px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contents .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}
.main-header{
    border-bottom: 1px solid gray ;
}
.main-header h1{
    display: inline-block;
    padding: 10px;
    border-bottom: 3px solid gray ;
    font-weight: bold;
    font-size: 2rem;
}
.footer{
    color: #707070
}
.grade{
    background-color:#d0d0d0;
    padding: 5px;
}
/* ============================= side content ==============================*/


.side-content{
    display: inline-block;
    position: relative;
    width: 31.25%;
    direction: rtl;
}
.side-background-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color:cornflowerblue;
    z-index: -1;
}
.info-header{
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
}
.image-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-pic{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    margin: 15px;
}

.personal-info,.job-info,.contact-info,.socials{
    margin-bottom: 20px;
    padding: 20px;
}

.contact-info .row{
    margin-bottom: 8px;
    color: white;
    display: flex;
    align-items: center;
}
.contact-info span{
    margin: 10px;
}


.personal-info .row{
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 8px;
    
}
.personal-info .value{
    font-weight: bold;
}

.job-info .row{
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}
.job-info .value{
    font-weight: bold;
}
.LOGO {
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: url("../resources/quera.svg") center bottom -20rem / 300% no-repeat;
    z-index: -1;
}